metaflow_extensions @ git+https://github.com/nestauk/metaflow_extensions@25_fix_project_env#egg=metaflow_extensions
daps-utils @ git+https://github.com/nestauk/daps_utils@119_luigi_deco#egg=daps-utils
metaflow @ git+https://github.com/jaklinger/metaflow@more_throttle#egg=metaflow
pytest-timeout==1.4.2
python_dateutil==2.8.1
PyMySQL==1.0.2
PyYAML==5.4
requests>=2.22.0
requests_cache>=0.5.2
SQLAlchemy==1.3.4
bs4==0.0.1
lxml>=4.6.3
cloudscraper>=1.2.48
urllib3==1.25.11
sh==1.14.2
